*.png
*.pdf
*checkpoint*
analyze_chains.ipynb
*.txt
*.covmat
Compute_Fisher.ipynb
tester.py
*.progress*
*.txt
chains/*
chains_MG/*
mock_data/*
*.covmat
*/.ipynb*
plot/*
test.py
*.prof
*.pyc
__pycache__/
test_fisher_and_likelihood.ipynb
*.log
