*.png
*.pdf
*checkpoint*
analyze_chains.ipynb
*.txt
*.covmat
Compute_Fisher.ipynb
tester.py
test_fisher_and_likelihood.ipynb
*.progress*
*.txt
chains/*
chains_MG/*
mock_data/*
*.covmat
*/.ipynb*
plot/*
test.py
*.prof
*.pyc
__pycache__/
.DS_Store
chains_MG/*
*.log
Lisa_cl_plotting.ipynb
test_fisher_and_likelihood.ipynb
*.log
testing_GW*
Fisher_*
*matrix*
compare*
*_fisher_*
*.npy
*.sh
test_*
*.out
*.err